#vs code files
/.vscode

#Build files
small_exercise/mat_mul_even/build/*

#dat
small_exercise/mat_mul_even/*.dat

#slurm
small_exercise/mat_mul_even/slurm_output

#sphere hdf5
small_exercise/3D_parallel_sphere/*.h5

matrix_mult/output/*
matrix_mult/.vscode

jacobi_exercise/.vscode
jacobi_exercise/mpi_code/solution.dat
jacobi_exercise/mpi_code/initial.dat
jacobi_exercise/openACC_code/solution.dat
jacobi_exercise/openACC_code/initial.dat
jacobi_exercise/openACC_code/*t1

#fftw_es1 .dat
fftw_es1/C/data/*
fftw_es1/C/build/src/*
fftw_es1/C/.vscode

#fftw_es1 .dat
fftw_es2/C/data/*
fftw_es2/C/build/src/*
fftw_es1/C/.vscode
